
@{
    ViewBag.Title = "Index";
}

<section id="AboutBanner">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12">
                <div class="flex-end-thing">
                    <img class="img-banner-about" src="~/Assets/img/about/about-bac-si.png" />
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="center-thing">
                    <div class="banner-about-content">
                        <h4>Tôi ước mơ biến y khoa trở thành khả năng đại chúng</h4>
                        <p>
                            Thông qua việc chuyển giao kiến thức y khoa  chuyên Sức khỏe Cột sống đến với mọi người bằng cách đưa ra giải pháp sáng tạo tiên phong chăm sóc chủ động, ngăn ngừa bệnh cột sống đối với con người.
                            Mục tiêu phấn đấu vì sức khỏe toàn diện gồm tinh thần, trí tuệ, thể chất của con người.

                        </p>
                        <p class="font-regular">
                            Bác sĩ Phạm Thị Kim Loan<br />
                            Nhà sáng lập - Chủ tịch Đức Phúc DOCTORLOAN
                        </p>
                        <div class="banner-action">
                            <a href="javascript:void(0)" class="btn btn-dtl-white">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="DoctorInfo">
    <div class="container">
        <div class="about-text-first">Bác sĩ Phạm Thị Kim Loan</div>
        <div class="doctor-wrapper">
            <div class="doctor-about-first">
                <div class="row">
                    <div class="col-md-6 col-12 order-2 order-md-1">
                        <div class="center-thing">
                            <div class="doctor-desc m-0">
                                <h4>CUỘC HÀNH TRÌNH NGHIÊN CỨU VÀ SÁNG CHẾ</h4>
                                <p>BS Phạm Thị Kim Loan là một trong những nhà phát minh được công nhận tiên tiến nhất trên phạm vi Quốc Tế trong lĩnh Chăm sóc sức khỏe Cột sống hiện nay . Bà đã phát triển và giới thiệu sản phẩm DOCTORLOAN với những tính năng đặc biệt, giúp người dùng bảo vệ và điều chỉnh cột sống của mình hàng ngày. Với tầm nhìn và sứ mệnh của mình, BS Phạm Thị Kim Loan đã tạo ra một cách tiếp cận mới trong việc chăm sóc sức khỏe của con người.</p>
                                <p class="m-0">Để tạo ra các sản phẩm này, BS Phạm Thị Kim Loan đã phải trải qua nhiều khó khăn và gian khổ. Cô đã bắt đầu nghiên cứu về cột sống trong suốt 15 năm qua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 order-1 order-md-2">
                        <div class="doctor-image">
                            <img src="~/Assets/img/about/doctor-info.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="about-text-last">Bác sĩ Phạm Thị Kim Loan</div>
        <div class="doctor-wrapper">
            <div class="doctor-about-last">
                <div class="row">
                    <div class="col-md-6">
                        <div class="doctor-img">
                            <img src="~/Assets/img/home/bac-si.png" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="center-thing">
                            <div class="doctor-desc">
                                <h3>ƯỚC VỌNG” CỘT SỐNG  KHOẺ MẠNH CHO MỌI NGƯỜI “CỦA MỘT BÁC SĨ</h3>
                                <p>Bác sĩ Phạm Thị Kim Loan đã chia sẻ rằng mục tiêu của mình là đem lại cho mọi người những sản phẩm có giá trị thực sự cho sức khỏe và cuộc sống. Bà  cũng đã khẳng định rằng sẽ tiếp tục nghiên cứu và phát triển thêm các sản phẩm thiết thực trong mọi sinh hoạt của con người  với mong muốn đóng góp vào sức khỏe của con người.</p>
                                <p>Từ quá trình nghiên cứu về các tác động của mọi tư thế con người trên cột sống, nhu bao gồm các sản phẩm như gối cổ, gối lưng, đệm ngồi và ghế nằm, đều có khả năng điều chỉnh và bảo vệ cột sống, giúp giảm áp lực và đau đớn.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="About">
    <div class="container">
        <div class="about-content about-order">
            <div class="row">
                <div class="col-lg-5 col-12 order-2 order-lg-1">
                    <div class="about-desc">
                        <div class="about-title"><strong>VINH DANH NHỮNG CỐNG HIẾN</strong></div>
                        <div class="about-sub-title">Vinh danh Ghế Chỉnh hình DOCTORLOAN trong Sách vàng Sáng tạo</div>
                        <div class="about-text mb-3">Sách Vàng Sáng Tạo Việt Nam năm 2017</div>
                        <div class="about-text">Ghế Doctor Loan do bà Phạm Thị Kim Loan - chủ tịch Doanh nghiệp khoa học và công nghệ Ngân Hà nghiên cứu và thiết kế theo tỉ lệ xương sống và xương chậu của con người.</div>
                        <div class="about-action">
                            <a class="btn btn-dtl-white" href="javascript:void(0)">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12 order-1 order-lg-2">
                    <iframe class="drloan-video"
                            src="https://www.youtube.com/embed/G9shqYO_L3M"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="AboutDescription">
    <div class="container">
        <div class="about-desc-wrapper">
            <div class="row rowlg">
                <div class="col-lg-6 col-12 order-lg-1 order-2 collg">
                    <div class="center-thing">
                        <div class="desc-first">
                            <p>Hành vi của con người gây nên bệnh, tất cả hành vi của con người đều tự chữa được.</p>
                            <p class="color-orange">Giải pháp DOCTORLOAN giúp hàng chục triệu người có bệnh cột sống trở về một đời sống bình thường.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 order-lg-2 order-1 collg">
                    <div class="list-about-img">
                        <img src="~/Assets/img/about/ab-desc-1.jpg" />
                        <img src="~/Assets/img/about/ab-desc-2.jpg" />
                        <img src="~/Assets/img/about/ab-desc-3.jpg" />
                    </div>
                </div>
            </div>
            <div class="about-solution">
                <div class="row rowlg">
                    <div class="col-md-6 col-12 collg">
                        <div class="row">
                            <div class="col-6"><img src="~/Assets/img/about/ab-desc-4.jpg" /></div>
                            <div class="col-6"><img src="~/Assets/img/about/ab-desc-5.jpg" /></div>
                            <div class="col-6"><img src="~/Assets/img/about/ab-desc-6.jpg" /></div>
                            <div class="col-6"><img src="~/Assets/img/about/ab-desc-7.jpg" /></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 collg">
                        <div class="about-solution-content">
                            <div class="ab-s-title">Giải pháp phòng bệnh cột sống cho người ‘làm bạn’ với máy tính</div>
                            <p>Dù ở văn phòng hay tại nhà, chỉ cần thường xuyên làm việc trên máy tính, bạn sẽ có nguy cơ mắc bệnh về cột sống nếu không ngồi đúng tư thế. Hiểu được điều này, bác sĩ Phạm Thị Kim Loan (Chủ tịch HĐQT công ty Khoa học và Công nghệ Ngân Hà) đã sáng chế ghế chỉnh hình DOCTORLOAN nhằm giúp cộng đồng phòng ngừa các bệnh về cột sống.</p>
                            <p>Ngồi làm việc thường xuyên trong thời gian dài sẽ khiến cột sống và đĩa đệm bị áp lực lớn, gây các chứng bệnh như gù, cong vẹo cột sống, trượt đốt sống, thoát vị đĩa đệm… Không chỉ làm người bệnh đau nhức, giảm năng suất làm việc, học tập mà còn tiêu tốn khá nhiều thời gian, tiền bạc để điều trị dứt điểm.</p>
                            <div class="ab-action"><a href="javascript:void(0)" class="btn btn-outline-trans">Xem chi tiết</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-mission-vision">
                <div class="row rowlg">
                    <div class="col-lg-6 col-12 collg">
                        <div class="row">
                            <div class="col-6">
                                <div class="mv-item d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="~/Assets/img/icon/light-icon.svg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5>Tầm nhìn</h5>
                                        <p>DOCTORLOAN hành trình mang lại sức khỏe cột sống cho cộng đồng thông qua sản phẩm sáng chế, quy trình độc quyền và chương trình giáo dục chuyên biệt cột sống.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mv-item d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="~/Assets/img/icon/chart-icon.svg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5>Sứ mệnh</h5>
                                        <p>Chúng tôi kiến tạo nên những sản phẩm và quy trình chuyên biệt dành riêng cho chăm sóc sức khỏe cột sống nhằm mang lại sự thay đổi tích cực cho con người và niềm tin vào sự phát triển bền vững của sứ mệnh.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mv-item d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="~/Assets/img/icon/cog-icon.svg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5>Mục tiêu hành động</h5>
                                        <p>Dù ở văn phòng hay tại nhà, chỉ cần thường xuyên làm việc trên máy tính, bạn sẽ có nguy cơ mắc bệnh về cột sống nếu không ngồi đúng tư thế.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mv-item d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="~/Assets/img/icon/clock-icon.svg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5>Triết lý kinh doanh</h5>
                                        <p>Dù ở văn phòng hay tại nhà, chỉ cần thường xuyên làm việc trên máy tính, bạn sẽ có nguy cơ mắc bệnh về cột sống nếu không ngồi đúng tư thế.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 collg">
                        <div class="mv-title">Giới thiệu hệ thống <br /> <strong>DoctorLoan</strong></div>
                        <ul>
                            <li>Ứng dụng công nghệ Đức Phúc DOCTORLOAN</li>
                            <li>Trung tâm nghiên cứu bệnh cơ xương khớp Đức Phúc DOCTORLOAN</li>
                            <li>Doanh nghiệp khoa học và công nghệ Gia Thái DOCTORLOAN</li>
                        </ul>
                        <div class="rnd-group">
                            <img class="img-rnd" src="~/Assets/img/about/rndiprs.png" />
                            <div class="mv-sub-title">Luôn nhất quán 3 yếu tố nền tảng</div>
                        </div>
                    </div>
                    <div class="col-lg-6 collg">
                        <div class="mv-sub-title">Bồi đắp nên giá trị thương hiệu</div>
                        <div class="mv-flex">
                            <div class="mv-flex-item">
                                <img class="img-mv-flex" src="~/Assets/img/about/mv-logo-1.png" />
                                <p>
                                    Cốt lõi của sự sống.
                                    Kết nối, cân bằng, linh hoạt
                                </p>
                            </div>
                            <div class="mv-flex-item">
                                <img class="img-mv-flex" src="~/Assets/img/about/mv-logo-2.png" />
                                <p>
                                    Nâng niu chăm sóc <br />
                                    Trao tặng, ân cần, bảo vệ
                                </p>
                            </div>
                            <div class="mv-flex-item">
                                <img class="img-mv-flex" src="~/Assets/img/about/mv-logo-3.png" />
                                <p>
                                    THƯƠNG CỘT SỐNG <br />
                                    YÊU CUỘC SỐNG
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 collg">
                        <div class="mv-flex mv-border">
                            <div class="mv-flex-item">
                                <h5>Sáng tạo</h5>
                                <p>
                                    Không ngừng đẩy mạnh nghiên cứu, sáng chế và sản xuất thêm nhiều dòng sản phẩm mới vì một thế giới với cột sống khỏe mạnh.
                                </p>
                            </div>
                            <div class="mv-flex-item">
                                <h5>Tử tế</h5>
                                <p>
                                    Nền tảng và động lực phát triển của chúng tôi được xây dựng từ chân thành – yêu thương – phụng sự và khát vọng tri ân cuộc sống.
                                </p>
                            </div>
                            <div class="mv-flex-item">
                                <h5>Ưu việt</h5>
                                <p>
                                    Luôn hướng tới phiên bản tốt đẹp hơn, chúng tôi không ngừng cải tiến sản phẩm vì sứ mệnh cải thiện cột sống khỏe cho mọi người.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-system">

        </div>
    </div>
</section>

<section id="Project" class="demo-section">
    <div class="container">
        <div class="title-drloan">
            <span>
                R&D/IPR<b class="text-title-small">s</b> <br /> <small>Hành trình nghiên cứu và phát triển đi tới các sáng chế thiết thực đem lại ích lợi cho mọi người</small>
            </span>
        </div>

        <div id="ProjectSwiper" class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="main-project">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="project-info">
                                    <div class="project-product">
                                        <div class="product-desc">
                                            <h4>Ghế Ngồi Sáng Chế DOCTORLOAN N85</h4>
                                            <p>Sau khi được đọc về các công trình nghiên cứu về việc ngồi không đúng cách có nguy cơ khiến con người bị các bệnh về cột sống. Tôi hiểu được rằng thay đổi thói quen của con người rất khó nên phải tạo ra sản phẩm giúp thuận theo thói quen của con người nhưng vẫn đảm bảo giúp ngồi đúng cách. Tôi đã tạo ra chiếc ghế đầu tiên giúp khi ngồi không bị đổ ngừời về phía trước…</p>
                                            <div class="text-end"><a href="javscript:void(0)">Xem chi tiết >>></a></div>
                                        </div>
                                        <div class="product-img"><img src="~/Assets/img/home/ghe-n85.png" /></div>
                                    </div>
                                </div>
                                <div class="tile-project mg-prj"><span>Câu chuyện vì sao sản phẩm có tên trên được ra đời?</span> <a href="javascript:void(0)">Xem chi tiết &gt;&gt;&gt;</a></div>
                                <div class="recital-project">
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="project-info">
                                                <h5>Bảy bước ra đời của một sản phẩm</h5>
                                                <p>Ghế phù hợp lắp ráp nhanh chóng. Sản phẩm có khả năng chịu tác động ngoại</p>
                                                <div class="footer-recital">
                                                    <div class="avatar-group">
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/count.svg" alt="Avatar" /></div>
                                                    </div>
                                                    <div class="count-clap">
                                                        <img src="~/Assets/img/home/clap.png" /> <span>1.5K</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="project-info active-info">
                                                <h5>Quá trình sản xuất</h5>
                                                <p>Ghế phù hợp cho học sinh các cấp chống gù lưng và vẹo cột sống.</p>
                                                <div class="footer-recital">
                                                    <div class="avatar-group">
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/count.svg" alt="Avatar" /></div>
                                                    </div>
                                                    <div class="count-clap">
                                                        <img src="~/Assets/img/home/clap.png" /> <span>1.5K</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="project-info">
                                                <h5>Thương mại</h5>
                                                <p>Sản phẩm được sử dụng nhiều tại khu vực chờ cảu bệnh nhân và người thân.</p>
                                                <div class="footer-recital">
                                                    <div class="avatar-group">
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/count.svg" alt="Avatar" /></div>
                                                    </div>
                                                    <div class="count-clap">
                                                        <img src="~/Assets/img/home/clap.png" /> <span>1.5K</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-info">
                                    <div class="chat-parent">
                                        <div class="tile-project">
                                            <span>Số người sử dụng sản phẩm </span>
                                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                <button id="btnTuan" type="button" class="btn btn-gr-dtl btn-gr-active" data-chart="chart-tuan">Tuần</button>
                                                <button id="btnThang" type="button" class="btn btn-gr-dtl" data-chart="chart-thang">Tháng</button>
                                            </div>
                                        </div>
                                        <div class="project-chart chart-tuan chart-active-home">
                                            <canvas id="myChart" height="85"></canvas>
                                        </div>
                                        <div class="project-chart chart-thang">
                                            <canvas id="myChart2" height="85"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="project-info h-100">
                                    <div class="project-number">
                                        <div class="icon-number"><img src="~/Assets/img/home/clock.png" /></div>
                                        <div class="body-number">
                                            <div class="title-number">Thời gian nghiên cứu sản phẩm</div>
                                            <div class="text-number">130 Giờ</div>
                                        </div>
                                    </div>

                                    <div class="project-number">
                                        <div class="icon-number"><img src="~/Assets/img/home/package.png" /></div>
                                        <div class="body-number">
                                            <div class="title-number">Số lần cải tiến sản phẩm</div>
                                            <div class="text-number">500 Lần</div>
                                        </div>
                                    </div>

                                    <div class="project-number">
                                        <div class="icon-number"><img src="~/Assets/img/home/user-group.png" /></div>
                                        <div class="body-number">
                                            <div class="title-number">Số lượng khách hàng sử dụng sản phẩm</div>
                                            <div class="text-number">500+ Người</div>
                                        </div>
                                    </div>

                                    <div class="project-feedback">
                                        <div class="tile-project"><span>Ý kiến của 5 khách hàng</span> <a href="javascript:void(0)">Xem chi tiết >>></a></div>
                                        <div id="ClientSwiper" class="swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/dang-duc-ngan.jpg" />
                                                        <div class="client-name">Cha Đặng Đức Ngân</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/pham-van-trong.jpg" />
                                                        <div class="client-name">Giuse Phạm Văn Trọng</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/thanh-lieu.jpg" />
                                                        <div class="client-name">Bệnh nhân Thanh Liễu</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/chu-hao.jpg" />
                                                        <div class="client-name">Bệnh nhân Chu Hảo</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/hoang-kim-dan.jpg" />
                                                        <div class="client-name">Sister M.JB Hoàng Kim Dâng</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                        <div class="feedback-content">
                                            <p>"Người bác sĩ trong tương lai không kê toa cho thuốc, mà chú trọng đến cấu trúc cơ thể của bệnh nhân, đến dinh dưỡng, đến nguyên nhân phát sinh ra bệnh và phương pháp phòng ngừa"</p>
                                            <a class="btn btn-outline-dtl" href="javascript:void(0)">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="main-project">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="project-info">
                                    <div class="project-product">
                                        <div class="product-desc">
                                            <h4>Ghế ngồi Sáng Chế DOCTORLOAN 90 mỏng</h4>
                                            <p>
                                                Ghế ngồi sáng chế DOCTORLOAN 90 mỏng được thiết kế với phần lồi phía trước và lõm phía sau, tạo nên chức năng “ÔM CHẶT – GIỮ CHUẨN – CHỐNG TRƯỢT” từng chi tiết của khung xương, mang đến khả năng tự điều chỉnh cột sống dưới tác động của trọng lực cơ thể khi ngồi trên ghế.
                                            </p>
                                            <div class="text-end"><a href="javscript:void(0)">Xem chi tiết >>></a></div>
                                        </div>
                                        <div class="product-img"><img src="~/Assets/img/home/ghe-90-mong.png" /></div>
                                    </div>
                                </div>
                                <div class="tile-project mg-prj"><span>Câu chuyện vì sao sản phẩm có tên trên được ra đời?</span> <a href="javascript:void(0)">Xem chi tiết &gt;&gt;&gt;</a></div>
                                <div class="recital-project">
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="project-info">
                                                <h5>Bảy bước ra đời của một sản phẩm</h5>
                                                <p>Ghế phù hợp lắp ráp nhanh chóng. Sản phẩm có khả năng chịu tác động ngoại</p>
                                                <div class="footer-recital">
                                                    <div class="avatar-group">
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/count.svg" alt="Avatar" /></div>
                                                    </div>
                                                    <div class="count-clap">
                                                        <img src="~/Assets/img/home/clap.png" /> <span>1.5K</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="project-info active-info">
                                                <h5>Quá trình sản xuất</h5>
                                                <p>Ghế phù hợp cho học sinh các cấp chống gù lưng và vẹo cột sống.</p>
                                                <div class="footer-recital">
                                                    <div class="avatar-group">
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/count.svg" alt="Avatar" /></div>
                                                    </div>
                                                    <div class="count-clap">
                                                        <img src="~/Assets/img/home/clap.png" /> <span>1.5K</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="project-info">
                                                <h5>Thương mại</h5>
                                                <p>Sản phẩm được sử dụng nhiều tại khu vực chờ cảu bệnh nhân và người thân.</p>
                                                <div class="footer-recital">
                                                    <div class="avatar-group">
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/count.svg" alt="Avatar" /></div>
                                                    </div>
                                                    <div class="count-clap">
                                                        <img src="~/Assets/img/home/clap.png" /> <span>1.5K</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-info">
                                    <div class="chat-parent">
                                        <div class="tile-project">
                                            <span>Số người sử dụng sản phẩm </span>
                                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                <button id="btnTuan" type="button" class="btn btn-gr-dtl btn-gr-active" data-chart="chart-tuan">Tuần</button>
                                                <button id="btnThang" type="button" class="btn btn-gr-dtl" data-chart="chart-thang">Tháng</button>
                                            </div>
                                        </div>
                                        <div class="project-chart chart-tuan chart-active-home">
                                            <canvas id="myChart3" height="85"></canvas>
                                        </div>
                                        <div class="project-chart chart-thang">
                                            <canvas id="myChart4" height="85"></canvas>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="project-info h-100">
                                    <div class="project-number">
                                        <div class="icon-number"><img src="~/Assets/img/home/clock.png" /></div>
                                        <div class="body-number">
                                            <div class="title-number">Thời gian nghiên cứu sản phẩm</div>
                                            <div class="text-number">80 Giờ</div>
                                        </div>
                                    </div>

                                    <div class="project-number">
                                        <div class="icon-number"><img src="~/Assets/img/home/package.png" /></div>
                                        <div class="body-number">
                                            <div class="title-number">Số lần cải tiến sản phẩm</div>
                                            <div class="text-number">20 Lần</div>
                                        </div>
                                    </div>

                                    <div class="project-number">
                                        <div class="icon-number"><img src="~/Assets/img/home/user-group.png" /></div>
                                        <div class="body-number">
                                            <div class="title-number">Số lượng khách hàng sử dụng sản phẩm</div>
                                            <div class="text-number">700+ Người</div>
                                        </div>
                                    </div>

                                    <div class="project-feedback">
                                        <div class="tile-project"><span>Ý kiến của 5 khách hàng</span> <a href="javascript:void(0)">Xem chi tiết >>></a></div>
                                        <div id="ClientSwiper" class="swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/dang-duc-ngan.jpg" />
                                                        <div class="client-name">Cha Đặng Đức Ngân</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/pham-van-trong.jpg" />
                                                        <div class="client-name">Giuse Phạm Văn Trọng</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/thanh-lieu.jpg" />
                                                        <div class="client-name">Bệnh nhân Thanh Liễu</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/chu-hao.jpg" />
                                                        <div class="client-name">Bệnh nhân Chu Hảo</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/hoang-kim-dan.jpg" />
                                                        <div class="client-name">Sister M.JB Hoàng Kim Dâng</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                        <div class="feedback-content">
                                            <p>"Người bác sĩ trong tương lai không kê toa cho thuốc, mà chú trọng đến cấu trúc cơ thể của bệnh nhân, đến dinh dưỡng, đến nguyên nhân phát sinh ra bệnh và phương pháp phòng ngừa"</p>
                                            <a class="btn btn-outline-dtl" href="javascript:void(0)">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section id="Activities">
    <div class="activities-activate">
        <div class="doctor-right"><span>Bác sĩ Phạm Thị Kim Loan</span></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-12 order-md-1 order-2">
                    <img src="~/Assets/img/about/activate-img.png" />
                </div>
                <div class="col-md-7 col-12 order-md-2 order-1">
                    <div class="center-thing">
                        <div class="activate-content">
                            <h5>Những hoạt động phát triển cộng đồng</h5>
                            <p>DOCTORLOAN luôn đặt mục tiêu phát triển cộng đồng và từ thiện là một phần quan trọng của triết lý kinh doanh. Chúng tôi tin rằng một công ty có trách nhiệm xã hội phải đóng góp và làm phát triển cộng đồng một cách tích cực. Dưới đây là quan điểm của DOCTORLOAN về các hoạt động phát triển cộng đồng/từ thiện.</p>
                            <p>DOCTORLOAN tin rằng chúng ta không chỉ tồn tại để phục vụ bản thân, mà còn để đóng góp và hỗ trợ cộng đồng xung quanh chúng ta. Chúng tôi xem xét mỗi hoạt động kinh doanh không chỉ từ góc nhìn lợi nhuận, mà còn từ góc độ tác động tích cực đến xã hội.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="activities-story">
        <div class="container">
            <div class="row m-lg-0">
                <div class="col-md-6 col-12 order-2 order-md-1 p-lg-0">
                    <div class="center-thing">
                        <div class="activities-story-body">
                            <div class="activities-title">Câu chuyện về KINH 7</div>
                            <p>Trước đây, phòng khám ở Kinh 7 đã phải đối mặt với nhiều khó khăn về cơ sở hạ tầng và phương pháp chữa bệnh cột sống. Nhưng nhờ vào sự đổi mới và hiệu quả của Giải pháp DOCTORLOAN, phòng khám đã trở thành một điểm sáng, nơi bệnh nhân tín nhiệm và tìm kiếm sự chữa trị.</p>
                            <div class="activities-action">
                                <a href="javascript:void(0)" class="btn btn-outline-trans">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 order-1 order-md-2 p-lg-0">
                    <img src="~/Assets/img/about/img-story-1.jpg" />
                </div>
                <div class="col-md-6 col-12 order-3 order-md-3 p-lg-0">
                    <img src="~/Assets/img/about/img-story-2.jpg" />
                </div>
                <div class="col-md-6 col-12 order-4 order-md-4 p-lg-0">
                    <div class="center-thing">
                        <div class="activities-story-body">
                            <div class="activities-title">Câu chuyện về Chùa Dược Sư</div>
                            <p>DOCTORLOAN đã vượt qua mọi ranh giới địa lý để mang đến phương pháp mới và hiện đại trong việc tự phát hiện, điều chỉnh và phòng ngừa bệnh cột sống cho mọi con người. Không chỉ giới hạn trong việc truyền đạt tri thức y tế, DOCTORLOAN đã đến gần những nơi linh thiêng như chùa để chia sẻ lòng kinh yêu và sự quan tâm đặc biệt.</p>
                            <div class="activities-action">
                                <a href="javascript:void(0)" class="btn btn-outline-trans">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="activities-share">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12 order-md-1 order-2">
                    <div class="center-thing">
                        <div class="activities-share">
                            <div class="activities-title">Quan điểm về Phát triển đội ngũ kế thừa</div>
                            <p>Sự cần thiết của đội ngũ kế thừa trong hệ thống DOCTORLOAN là rất quan trọng và đóng vai trò không thể thiếu để đảm bảo sự liên tục tiên phong và phát triển bền vững của công ty. Dưới đây là một số yếu tố quan trọng về đội ngũ kế thừa trong hệ thống DOCTORLOAN</p>
                            <div class="activities-action">
                                <a href="javascript:void(0)" class="btn btn-outline-trans">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 order-md-2 order-1">
                    <img src="~/Assets/img/about/activities-share-1.jpg" />
                </div>
                <div class="col-md-6 col-12 order-md-3 order-3">
                    <img src="~/Assets/img/about/activities-share-2.jpg" />
                </div>
                <div class="col-md-6 col-12 order-md-4 order-4">
                    <div class="center-thing">
                        <div class="activities-share">
                            <div class="activities-title">Tiếp nối tri thức và kiến thức chuyên môn</div>
                            <p>Đội ngũ kế thừa trong DOCTORLOAN đảm bảo sự tiếp nối tri thức công nghệ DOCTORLOAN trong nghiên cứu, sản xuất, thương mại và kiến thức chuyên môn liên quan đến lĩnh vực chăm sóc cột sống. Các thành viên của đội ngũ này trong lĩnh vực Chữa Bệnh Cột sống cần có kiến thức sâu rộng về bệnh lý cột sống, cơ xương khớp, công nghệ y tế và các phương pháp điều trị hiện đại.</p>
                            <div class="activities-action">
                                <a href="javascript:void(0)" class="btn btn-outline-trans">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="activities-opinion">
        <div class="row m-0">
            <div class="col-lg-8 col-md-10 col-12 p-0">
                <img src="~/Assets/img/about/opinion-img.png" />
            </div>
        </div>
        <div class="opinion-content">
            <div class="container h-100">
                <div class="row justify-content-end h-100">
                    <div class="col-md-6 h-100">
                        <div class="center-thing">
                            <div class="opinion-desc">
                                <div class="activities-title">Quan điểm về nhân bản mô hình và gia tăng giá trị để đem sản phẩm và giải pháp chăm sóc sức khoẻ đến với người bệnh</div>
                                <p>Dù ở văn phòng hay tại nhà, chỉ cần thường xuyên làm việc trên máy tính, bạn sẽ có nguy cơ mắc bệnh về cột sống nếu không ngồi đúng tư thế. Hiểu được điều này, bác sĩ Phạm Thị Kim Loan (Chủ tịch HĐQT công ty Khoa học và Công nghệ Ngân Hà) đã sáng chế ghế chỉnh hình DOCTORLOAN nhằm giúp cộng đồng phòng ngừa các bệnh về cột sống.</p>
                                <div class="activities-action">
                                    <a href="javascript:void(0)" class="btn btn-outline-trans">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

</section>

<section id="Achievement">
    <div class="container">
        <div class="achievement mt-0">
            <div class="achievement-item">
                <div class="achievement-content">
                    <h4>35+</h4>
                    <p>Năm kinh nghiệm nghiên cứu và hoạt động trong lĩnh vực y tế</p>
                </div>
            </div>
            <div class="achievement-item">
                <div class="achievement-content">
                    <h4>1,000,000+</h4>
                    <p>Bệnh nhân được điều trị khỏi bệnh</p>
                </div>
            </div>
            <div class="achievement-item">
                <div class="achievement-content">
                    <h4>5,000,000+</h4>
                    <p>Sử dụng các sản phẩm chăm sóc cột sống DOCTORLOAN</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Distinctive">
    <div class="container">
        <div class="row m-0">
            <div class="col-md-6 p-0 order-2 order-md-1">
                <div class="center-thing">
                    <div class="distinctive-content">
                        <h4>Sự khác biệt trong phương pháp của đức phúc DOCTORLOAN so với các phòng khám khác trên thị trường</h4>
                        <p>Đức Phúc – DOCTORLOAN chữa bệnh – chăm sóc sức khỏe cột sống, cơ xương khớp dựa trên nguyên lý về sự cân bằng trong hành vi, cử chỉ, tư thế, cấu trúc cơ thể... Từ đó, tạo nên sự quân bình, đối xứng về thế chất, tinh thần và trí tuệ của con người.</p>
                        <p>Sức khỏe là sự đầu tư hiệu quả nhất mà bất kỳ ai trong cuộc sống này đều phải quan tâm và thực hiện đúng đắn nó. Với những lý do như không có nhiều thời gian để tập trung cho việc chăm sóc sức khỏe, tính chất công việc quá bận rộn, thời gian không linh hoạt,.. Thấu hiểu được điều đó DOCTORLOAN đã đưa ra những giải pháp thông qua các qui trình công nghệ và sản phẩm sáng chế nhãn hiệu DOCTORLOAN có thể khắc phục hoàn toàn những lý do về Tác Động của Môi trường Sống cùng Thói quen hàng ngày.</p>
                        <div class="distinctive-action"><a class="btn btn-dtl" href="javascript:void(0)">Xem chi tiết</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0 order-1 order-md-2"><img src="~/Assets/img/about/distinctive-1.jpg" /></div>
            @*<div class="col-md-6 p-0 order-3 order-md-3"><img src="~/Assets/img/about/distinctive-2.jpg" /></div>
            <div class="col-md-6 p-0 order-4 order-md-4">
                <div class="center-thing">
                    <div class="distinctive-content distinctive-right">
                        <h4>Sự khác biệt trong phương pháp của đức phúc DOCTORLOAN so với các phòng khám khác trên thị trường</h4>
                        <p>Sức khỏe là sự đầu tư hiệu quả nhất mà bất kỳ ai trong cuộc sống này đều phải quan tâm và thực hiện đúng đắn nó. Với những lý do như không có nhiều thời gian để tập trung cho việc chăm sóc sức khỏe, tính chất công việc quá bận rộn, thời gian không linh hoạt,.. Thấu hiểu được điều đó DOCTORLOAN đã đưa ra những giải pháp thông qua các qui trình công nghệ và sản phẩm sáng chế nhãn hiệu DOCTORLOAN có thể khắc phục hoàn toàn những lý do về Tác Động của Môi trường Sống cùng Thói quen hàng ngày.</p>
                        <div class="distinctive-action"><a class="btn btn-dtl" href="javascript:void(0)">Xem chi tiết</a></div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>

<section id="Events" class="bg-orange">
    <div class="container">
        <div class="event-main">
            <div class="row">
                <div class="col-lg-3 col-12 order-2 order-lg-1">
                    <div class="event-item">
                        <div class="event-time"><strong>Sự kiện</strong> <br /> <span>05/12/2022</span></div>
                        <div class="event-title">Hướng dẫn chăm sóc đường thở trong dịch Covid</div>
                        <div class="event-desc">Dựa trên cấu trúc giải phẫu học của cột sống và cơ chế tác động lực.</div>
                        <div class="event-info">
                            <img src="~/Assets/img/home/event-main-1.jpg" />
                            <div class="event-detail">
                                <div class="count-seen"><strong>700,520</strong> <br /> Người xem</div>
                                <div class="event-share">
                                    <a href="javascript:void(0)"><img src="~/Assets/img/icon/like.png" /></a>
                                    <a href="javascript:void(0)"><img src="~/Assets/img/icon/share.png" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event-item">
                        <div class="event-time"><strong>Sự kiện</strong> <br /> <span>05/12/2022</span></div>
                        <div class="event-title">Phụ nữ với sở hữu trí tuệ - Thúc đẩy đổi mới sáng tạo</div>
                        <div class="event-desc">Dựa trên cấu trúc giải phẫu học của cột sống và cơ chế tác động lực.</div>
                        <div class="event-info">
                            <img src="~/Assets/img/home/event-main-2.jpg" />
                            <div class="event-detail">
                                <div class="count-seen"><strong>700,520</strong> <br /> Người xem</div>
                                <div class="event-share">
                                    <a href="javascript:void(0)"><img src="~/Assets/img/icon/like.png" /></a>
                                    <a href="javascript:void(0)"><img src="~/Assets/img/icon/share.png" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12 order-1 order-lg-2">
                    <div class="event-center">
                        <div class="img-event-center">
                            <img src="~/Assets/img/home/event-img-center.jpg" />
                        </div>
                        <div class="content-event-center">
                            <div class="row">
                                <div class="col-3">
                                    <div class="desc-event-center">
                                        <div class="center-item">
                                            <strong>Sự kiện</strong> <br /> <span>05/12/2022</span>
                                        </div>
                                        <div class="center-item">
                                            <strong>Tags</strong> <br /> <span class="tags">#hoithao</span><br /> <span class="tags">#sukien</span><br /> <span class="tags">#tintuc</span>
                                        </div>
                                        <div class="center-item">
                                            <strong>Bình luận mới</strong> <br /> <span>Lê Hồng Miên</span><br /> <span>Vũ Hồng Đăng</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <h4>Hội thảo hướng dẫn chăm sóc cột sống tại Myanmar</h4>
                                    <p>Dựa trên cấu trúc giải phẫu học của cột sống và cơ chế tác động lực lên cột sống, ghế DOCTORLOAN được thiết kế đặc biệt với phần lưng cong và lõm, phù hợp với đường cong sinh lý của cột sống, xương chậu, từ đó giúp người dùng đưa cột sống trở về đúng cấu trúc bình thường.</p>
                                    <p>Dựa trên cấu trúc giải phẫu học của cột sống và cơ chế tác động lực lên cột sống, ghế DOCTORLOAN được thiết kế đặc biệt với phần lưng cong và lõm, đúng cấu trúc bình thường.</p>
                                </div>
                                <div class="col-2">
                                    <div class="desc-event-center fl-end">
                                        <div class="center-item">
                                            <div class="event-share-column">
                                                <a href="javascript:void(0)"><img src="~/Assets/img/icon/like-gray.png" /></a>
                                                <a href="javascript:void(0)"><img src="~/Assets/img/icon/share-gray.png" /></a>
                                            </div>
                                        </div>
                                        <div class="center-item">
                                            <div class="avatar-group-column">
                                                <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                                <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                                <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                                <div class="avatar"><img src="~/Assets/img/home/avatar-4.png" alt="Avatar" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-12 order-3">
                    <div class="event-item">
                        <div class="event-time"><strong>Sự kiện</strong> <br /> <span>05/12/2022</span></div>
                        <div class="event-title">Tiếp đoàn sở hữu trí tuệ chính phủ Nhật Bản</div>
                        <div class="event-desc">Dựa trên cấu trúc giải phẫu học của cột sống và cơ chế tác động lực.</div>
                        <div class="event-info">
                            <img src="~/Assets/img/home/event-main-3.jpg" />
                            <div class="event-detail">
                                <div class="count-seen"><strong>700,520</strong> <br /> Người xem</div>
                                <div class="event-share">
                                    <a href="javascript:void(0)"><img src="~/Assets/img/icon/like.png" /></a>
                                    <a href="javascript:void(0)"><img src="~/Assets/img/icon/share.png" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event-item">
                        <div class="event-time"><strong>Sự kiện</strong> <br /> <span>05/12/2022</span></div>
                        <div class="event-title">Lễ trao giải nhất sáng chế</div>
                        <div class="event-desc">Dựa trên cấu trúc giải phẫu học của cột sống và cơ chế tác động lực.</div>
                        <div class="event-info">
                            <img src="~/Assets/img/home/event-main-4.jpg" />
                            <div class="event-detail">
                                <div class="count-seen"><strong>700,520</strong> <br /> Người xem</div>
                                <div class="event-share">
                                    <a href="javascript:void(0)"><img src="~/Assets/img/icon/like.png" /></a>
                                    <a href="javascript:void(0)"><img src="~/Assets/img/icon/share.png" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>\
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nav-menu-container ul li").removeClass("menu-active");
            $("#nav-menu-container ul li").eq(1).addClass("menu-active");
        });

        $('.moreless-button').click(function () {
            var parentsitem = $(this).parents(".more-group");

            parentsitem.find('.moretext').toggleClass("more-active");
            if (parentsitem.find('.moreless-button').text() == "Xem chi tiết >>>") {
                $(this).text("Thu nhỏ <<<")
            } else {
                $(this).text("Xem chi tiết >>>")
            }
        });

        $('.btn-gr-dtl').click(function () {
            var parentbtn = $(this).parents(".chat-parent");
            parentbtn.find('.tile-project .btn-group .btn-gr-dtl').removeClass("btn-gr-active");
            $(this).addClass("btn-gr-active");
            var datachart = $(this).data("chart");

            parentbtn.find(".project-chart").removeClass("chart-active-home");
            parentbtn.find(".project-chart." + datachart).addClass("chart-active-home");
        });

        var swiper = new Swiper("#ClientSwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            }
        });

        var swiper2 = new Swiper("#ProjectSwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            }
        });

        var ctx = document.getElementById('myChart').getContext("2d");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["", "", "", "", "", "", "", "", "", "", "", ""],
                datasets: [{
                    label: "",
                    pointBorderWidth: 7,
                    pointHoverRadius: 7,
                    pointHoverBorderWidth: 1,
                    pointRadius: 3,
                    fill: false,
                    borderWidth: 4,
                    data: [100, 120, 150, 160, 165, 180, 190, 220, 250, 280, 290, 320],
                    cubicInterpolationMode: 'monotone'
                }]
            },
            options: {

                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        displayColors: false,
                        bodyAlign: 'center',
                        callbacks: {
                            title: () => null // or function () { return null; }
                        },
                        bodyFont: {
                            size: 24
                        },
                        backgroundColor: '#FF7500',
                        bodyColor: '#FFFFFF'
                    }
                },
                scales: {
                    x: {
                        display: false
                    },
                    y: {
                        display: false
                    },
                }
            }
        });

        var ctx2 = document.getElementById('myChart2').getContext("2d");
        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: ["", "", "", "", "", "", ""],
                datasets: [{
                    label: "",
                    pointBorderWidth: 7,
                    pointHoverRadius: 7,
                    pointHoverBorderWidth: 1,
                    pointRadius: 3,
                    fill: false,
                    borderWidth: 4,
                    data: [100, 150, 180, 190, 220, 250, 290],
                    cubicInterpolationMode: 'monotone'
                }]
            },
            options: {

                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        displayColors: false,
                        bodyAlign: 'center',
                        callbacks: {
                            title: () => null // or function () { return null; }
                        },
                        bodyFont: {
                            size: 24
                        },
                        backgroundColor: '#FF7500',
                        bodyColor: '#FFFFFF'
                    }
                },
                scales: {
                    x: {
                        display: false
                    },
                    y: {
                        display: false
                    },
                }
            }
        });

        var ctx3 = document.getElementById('myChart3').getContext("2d");
        var myChart3 = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: ["", "", "", "", "", "", "", "", "", ""],
                datasets: [{
                    label: "",
                    pointBorderWidth: 7,
                    pointHoverRadius: 7,
                    pointHoverBorderWidth: 1,
                    pointRadius: 3,
                    fill: false,
                    borderWidth: 4,
                    data: [70, 80, 120, 130, 140, 200, 230, 250, 300, 320],
                    cubicInterpolationMode: 'monotone'
                }]
            },
            options: {

                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        displayColors: false,
                        bodyAlign: 'center',
                        callbacks: {
                            title: () => null // or function () { return null; }
                        },
                        bodyFont: {
                            size: 24
                        },
                        backgroundColor: '#FF7500',
                        bodyColor: '#FFFFFF'
                    }
                },
                scales: {
                    x: {
                        display: false
                    },
                    y: {
                        display: false
                    },
                }
            }
        });

        var ctx4 = document.getElementById('myChart4').getContext("2d");
        var myChart4 = new Chart(ctx4, {
            type: 'line',
            data: {
                labels: ["", "", "", "", "", "", "", "", ""],
                datasets: [{
                    label: "",
                    pointBorderWidth: 7,
                    pointHoverRadius: 7,
                    pointHoverBorderWidth: 1,
                    pointRadius: 3,
                    fill: false,
                    borderWidth: 4,
                    data: [50, 60, 70, 110, 140, 180, 190, 240, 250],
                    cubicInterpolationMode: 'monotone'
                }]
            },
            options: {

                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        displayColors: false,
                        bodyAlign: 'center',
                        callbacks: {
                            title: () => null // or function () { return null; }
                        },
                        bodyFont: {
                            size: 24
                        },
                        backgroundColor: '#FF7500',
                        bodyColor: '#FFFFFF'
                    }
                },
                scales: {
                    x: {
                        display: false
                    },
                    y: {
                        display: false
                    },
                }
            }
        });
    </script>
}

