
@{
    ViewBag.Title = "Index";
}

<section id="BannerShowRoom">
    <div class="swiper showRoomSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="banner-show-room">
                    <picture>
                        <source media="(max-width:767px)" srcset="~/Assets/img/showroom/banner-show-room-mb-5.jpg">
                        <img src="~/Assets/img/showroom/banner-show-room-1.jpg" alt="">
                    </picture>
                    <div class="content-banner-sr">
                        <div class="container">
                            <h4>Showroom <br /> Giới thiệu sản phẩm</h4>
                            <p>Chúng tôi sẽ chuyển hóa kiến thức Y khoa đến với mọi người để người dân sẽ không cần phải đến gặp bác sĩ nữa mà mỗi người đều có thể tự điều trị bệnh tại nhà.</p>
                            <div class="banner-action">
                                <a href="javascript:void(0)" class="btn btn-outline-w-trans">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-show-room">
                    <picture>
                        <source media="(max-width:767px)" srcset="~/Assets/img/showroom/banner-show-room-mb-1.jpg">
                        <img src="~/Assets/img/showroom/banner-show-room-2.jpg" alt="">
                    </picture>
                    <div class="content-banner-sr">
                        <div class="container">
                            <h4>Showroom <br /> Giới thiệu sản phẩm</h4>
                            <p>Chúng tôi sẽ chuyển hóa kiến thức Y khoa đến với mọi người để người dân sẽ không cần phải đến gặp bác sĩ nữa mà mỗi người đều có thể tự điều trị bệnh tại nhà.</p>
                            <div class="banner-action">
                                <a href="javascript:void(0)" class="btn btn-outline-w-trans">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-show-room">
                    <picture>
                        <source media="(max-width:767px)" srcset="~/Assets/img/showroom/banner-show-room-mb-2.jpg">
                        <img src="~/Assets/img/showroom/banner-show-room-3.jpg" alt="">
                    </picture>
                    <div class="content-banner-sr">
                        <div class="container">
                            <h4>Showroom <br /> Giới thiệu sản phẩm</h4>
                            <p>Chúng tôi sẽ chuyển hóa kiến thức Y khoa đến với mọi người để người dân sẽ không cần phải đến gặp bác sĩ nữa mà mỗi người đều có thể tự điều trị bệnh tại nhà.</p>
                            <div class="banner-action">
                                <a href="javascript:void(0)" class="btn btn-outline-w-trans">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<section id="HistoryShowRoom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-12">
                <img class="img-white" src="~/Assets/img/logo/logo-doctorloan.svg" />
            </div>
            <div class="col-lg-6 col-md-8 col-12">
                <div class="center-thing">
                    <div class="history-content">
                        <h4>Lịch sử ra đời và phát triển</h4>
                        <p>Tiên phong trong lĩnh vực nghiên cứu, ứng dụng công nghệ hỗ trợ điều trị và phòng ngừa các bệnh cột sống. Huấn luyện và chuyển giao bí quyết bảo vệ cột sống giúp cải thiện vóc dáng, thân – tâm – trí khỏe mạnh.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="history-item">
                    <h4>Năm 2008</h4>
                    <img src="~/Assets/img/showroom/history-1.png" />
                    <h5>Gối cổ sáng chế độc quyền</h5>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="history-item">
                    <h4>Năm 2010</h4>
                    <img src="~/Assets/img/showroom/history-2.png" />
                    <h5>Gối lưng sáng chế độc quyền</h5>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="history-item">
                    <h4>Năm 2010</h4>
                    <img src="~/Assets/img/showroom/history-3.png" />
                    <h5>Ghế ngồi sáng chế độc quyền</h5>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="history-item">
                    <h4>Năm 2014</h4>
                    <img src="~/Assets/img/showroom/history-4.png" />
                    <h5>Ghế nằm sáng chế độc quyền</h5>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="history-item">
                    <h4>Năm 2020</h4>
                    <img src="~/Assets/img/showroom/history-5.png" />
                    <h5>Đệm thiền sáng chế độc quyền</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ProductFirst" class="product-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-12">
                <div class="center-thing img-goi-co-main">
                    <div class="row rowlg">
                        <div class="col-lg-6 col-12 collg order-2 order-lg-1">
                            <div class="title-product-showroom">Gối cổ sáng chế F6</div>
                            <p>
                                Mút được nhập từ chất liệu ngoại nhập đã được kiểm định chất lượng về độ an toàn trong quá trình sử dụng. <br /> Phần lõi được làm từ chất liệu có tỉ trọng cao, có khả năng chịu lực tốt.<br />
                                Sợi vải được nhập ngoại và kiểm định về độ bền, an toàn cho người sử dụng.
                            </p>
                            <div class="parameter-product">
                                <h5 class="prm-p-title">Kích thước sản phẩm</h5>
                                <div class="list-parameter">
                                    <div class="parameter-item">
                                        <img src="~/Assets/img/icon/ruler-icon.svg" />
                                        <p><span>9cm dành cho người cao</span> <br /> <=1m7</p>
                                    </div>
                                    <div class="parameter-item">
                                        <img src="~/Assets/img/icon/weight-icon.svg" />
                                        <p><span>Cân nặng</span> <br /> <=90Kg</p>
                                    </div>
                                    <div class="parameter-item">
                                        <img src="~/Assets/img/icon/ruler-icon.svg" />
                                        <p><span>12cm dành cho người cao</span> <br /> >=1m7</p>
                                    </div>
                                    <div class="parameter-item">
                                        <img src="~/Assets/img/icon/strong-icon.svg" />
                                        <p><span>Khối lượng tối đa</span> <br /> 120Kg</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 collg order-1 order-lg-2">
                            <div class="center-thing">
                                <img class="img-product-main" src="~/Assets/img/showroom/sr-product-1.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <div class="swiper productSwiper3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="goi-co-f4.png" data-group="img-goi-co-main" data-title="GỐI CỔ SÁNG CHẾ F4">
                                <div class="pfirst-item">
                                    <img src="~/Assets/img/showroom/goi-co-f4.png" />
                                    <div class="title-pfirst">
                                        <span>DOCTORLOAN</span>
                                        Gối cổ F4
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="goi-co-f5.png" data-group="img-goi-co-main" data-title="GỐI CỔ SÁNG CHẾ F5">
                                <div class="pfirst-item">
                                    <img src="~/Assets/img/showroom/goi-co-f5.png" />
                                    <div class="title-pfirst">
                                        <span>DOCTORLOAN</span>
                                        Gối cổ F5
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="sr-product-1.png" data-group="img-goi-co-main" data-title="GỐI CỔ SÁNG CHẾ F6">
                                <div class="pfirst-item">
                                    <img src="~/Assets/img/showroom/goi-co-f6.png" />
                                    <div class="title-pfirst">
                                        <span>DOCTORLOAN</span>
                                        Gối cổ F6
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="goi-co-nguoi-lon-khong-loi.png" data-group="img-goi-co-main" data-title="Gối cổ người lớn">
                                <div class="pfirst-item">
                                    <img src="~/Assets/img/showroom/goi-co-nguoi-lon-khong-loi.png" />
                                    <div class="title-pfirst">
                                        <span>DOCTORLOAN</span>
                                        Gối cổ người lớn
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="goi-co-tre-em-size-lon.png" data-group="img-goi-co-main" data-title="Gối cổ trẻ em lớn">
                                <div class="pfirst-item">
                                    <img src="~/Assets/img/showroom/goi-co-tre-em-size-lon.png" />
                                    <div class="title-pfirst">
                                        <span>DOCTORLOAN</span>
                                        Gối cổ trẻ em lớn
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="goi-co-tre-em-size-nho.png" data-group="img-goi-co-main" data-title="Gối cổ trẻ em nhỏ">
                                <div class="pfirst-item">
                                    <img src="~/Assets/img/showroom/goi-co-tre-em-size-nho.png" />
                                    <div class="title-pfirst">
                                        <span>DOCTORLOAN</span>
                                        Gối cổ trẻ em nhỏ
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="PillowProduct" class="product-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-12 order-2 order-lg-1">
                <div class="swiper productSwiper3 bg-w">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="goi-lung-f1-dai.png" data-group="img-goi-lung-main" data-title="Gối lưng F1 dài">
                                <div class="pfirst-item">
                                    <img src="~/Assets/img/showroom/goi-lung-f1-dai.png" />
                                    <div class="title-pfirst">
                                        <span>DOCTORLOAN</span>
                                        Gối lưng F1 dài
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="goi-lung-f1-ngan.png" data-group="img-goi-lung-main" data-title="Gối lưng F1 ngắn">
                                <div class="pfirst-item">
                                    <img src="~/Assets/img/showroom/goi-lung-f1-ngan.png" />
                                    <div class="title-pfirst">
                                        <span>DOCTORLOAN</span>
                                        Gối lưng F1 ngắn
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="goi-lung-f3.png" data-group="img-goi-lung-main" data-title="Gối lưng sáng chế F3">
                                <div class="pfirst-item">
                                    <img src="~/Assets/img/showroom/goi-lung-f3.png" />
                                    <div class="title-pfirst">
                                        <span>DOCTORLOAN</span>
                                        Gối lưng F3
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="sr-product-4.png" data-group="img-goi-lung-main" data-title="Gối lưng sáng chế F4">
                                <div class="pfirst-item">
                                    <img src="~/Assets/img/showroom/goi-lung-f3.png" />
                                    <div class="title-pfirst">
                                        <span>DOCTORLOAN</span>
                                        Gối lưng F4
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <div class="col-lg-10 col-12 order-1 order-lg-2">
                <div class="center-thing img-goi-lung-main">
                    <div class="row rowlg">
                        <div class="col-lg-6 collg">
                            <div class="center-thing">
                                <img class="img-product-main" src="~/Assets/img/showroom/sr-product-4.png" />
                            </div>
                        </div>
                        <div class="col-lg-6 collg">
                            <div class="title-product-showroom">Gối lưng sáng chế F4</div>
                            <p>
                                Bệnh cột sống lưng có thể xảy ra với tất cả mọi người,bất kể ai cũng có đau lưng trong đời. Gù vẹo, thoát vị đĩa đệm, trượt hoặc gãy cột sống lưng là những bệnh hay gặp do sai tư thế trong sinh hoạt hằng ngày.<br />
                                Gối lưng DOCTORLOAN dành cho mọi đối tượng ngoại trừ người già bị loãng xương. Những trường hợp đặc biệt phải có chỉ định của bác sĩ.
                            </p>
                            <div class="parameter-product">
                                <h5 class="prm-p-title">Kích thước sản phẩm</h5>
                                <div class="list-parameter">
                                    <div class="parameter-item">
                                        <img src="~/Assets/img/icon/weight-icon.svg" />
                                        <p><span>Cân nặng</span> <br /> <=120Kg</p>
                                    </div>

                                    <div class="parameter-item">
                                        <img src="~/Assets/img/icon/strong-icon.svg" />
                                        <p><span>Khối lượng tối đa</span> <br /> 150Kg</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ChairProduct">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-12">
                <div class="row h-100 img-ghe-main">
                    <div class="col-md-6 col-12 order-2 order-md-1">
                        <div class="chair-main">
                            <div class="chair-main-head">
                                <div class="title-product-showroom">ghế ngồi sáng chế 95 vip</div>
                                <p>
                                    Dựa trên mô phỏng đường cong cột sống sống, ghế sáng chế DOCTORLOAN 95 được thiết kế với phần lồi phía trước và lõm phía sau, tạo nên chức năng “ÔM CHẶT – GIỮ CHUẨN – CHỐNG TRƯỢT” từng chi tiết của khung xương, mang đến khả năng tự điều chỉnh cột sống dưới tác động của trọng lực cơ thể khi ngồi trên ghế.
                                </p>
                                <div class="p-list-color">
                                    <div class="title-small">Màu sắc</div>
                                    <a href="javascript:void(0)" class="color-item yellow active"></a>
                                    <a href="javascript:void(0)" class="color-item grape"></a>
                                    <a href="javascript:void(0)" class="color-item black"></a>
                                    <a href="javascript:void(0)" class="color-item green"></a>
                                </div>
                                <div class="text-tt-p">Kích thước sản phẩm</div>
                                <div class="chair-parameter">
                                    <div class="parameter-item">
                                        <img src="~/Assets/img/icon/ruler-icon.svg" />
                                        <p><span>Chiều cao</span> <br /> <=1m5</p>
                                    </div>
                                    <div class="parameter-item">
                                        <img src="~/Assets/img/icon/weight-icon.svg" />
                                        <p><span>Cân nặng</span> <br /> >= 40kg</p>
                                    </div>
                                    <div class="parameter-item">
                                        <img src="~/Assets/img/icon/strong-icon.svg" />
                                        <p><span>Khối lượng tối đa</span> <br /> 130kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="chair-main-foot">
                                <img src="~/Assets/img/showroom/chair-product-n85.png" />
                                <div class="title-chair-foot"><span>Ghế ngồi sáng chế doctorloan n85</span> Ngồi làm việc thường xuyên trong thời gian dài sẽ khiến cột sống và đĩa đệm bị áp lực lớn, gây các chứng bệnh như gù, cong vẹo cột sống, trượt đốt sống.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 order-1 order-md-2">
                        <div class="chair-main">
                            <img class="img-product img-product-main" src="~/Assets/img/showroom/chair-slide-3.png" />
                            <div class="chair-info">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="title-chair-info">Bình luận mới</div>
                                        <p>Ngồi làm việc thường xuyên trong thời gian dài sẽ khiến cột sống và đĩa đệm bị áp lực lớn.</p>
                                        <div class="avatar-group">
                                            <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                            <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                            <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                            <div class="avatar"><img src="~/Assets/img/home/count.svg" alt="Avatar" /></div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="count-chair">
                                            <div class="title-chair-info">100+ <span>Sản phẩm được mua</span></div>
                                            <div class="title-chair-info">150+ <span>Sản phẩm được sản xuất</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <div class="swiper productChairSwiper">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="chair-slide-1.png" data-group="img-ghe-main" data-title="Ghế ngồi sáng chế 90 dày">
                                <div class="chair-item">
                                    <img src="~/Assets/img/showroom/chair-2.jpg" />
                                    <div class="title-chair">
                                        <span>DOCTORLOAN</span>
                                        Ghế ngồi 90 dày
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="chair-slide-2.png" data-group="img-ghe-main" data-title="Ghế ngồi sáng chế 90 mỏng">
                                <div class="chair-item">
                                    <img src="~/Assets/img/showroom/chair-1.jpg" />
                                    <div class="title-chair">
                                        <span>DOCTORLOAN</span>
                                        Ghế ngồi 90 mỏng
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="chair-slide-3.png" data-group="img-ghe-main" data-title="Ghế ngồi sáng chế 95 VIP">
                                <div class="chair-item">
                                    <img src="~/Assets/img/showroom/chair-5.jpg" />
                                    <div class="title-chair">
                                        <span>DOCTORLOAN</span>
                                        Ghế ngồi 95 VIP
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="chair-slide-4.png" data-group="img-ghe-main" data-title="Ghế ngồi sáng chế Ghế sơn">
                                <div class="chair-item">
                                    <img src="~/Assets/img/showroom/chair-4.jpg" />
                                    <div class="title-chair">
                                        <span>DOCTORLOAN</span>
                                        Ghế sơn
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="change-image" href="javascript:void(0)" data-image="chair-slide-5.png" data-group="img-ghe-main" data-title="Ghế ngồi sáng chế N85">
                                <div class="chair-item">
                                    <img src="~/Assets/img/showroom/chair-3.jpg" />
                                    <div class="title-chair">
                                        <span>DOCTORLOAN</span>
                                        Ghế ngồi N85
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="chair-oder" id="ChairOrderFirst">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="chair-slide">
                    <div class="swiper swiperOrder">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="img-order" src="~/Assets/img/showroom/chair-oder-1.png" />
                            </div>
                            <div class="swiper-slide">
                                <img class="img-order" src="~/Assets/img/showroom/chair-oder-2.png" />
                            </div>
                            <div class="swiper-slide">
                                <img class="img-order" src="~/Assets/img/showroom/chair-oder-3.png" />
                            </div>
                            <div class="swiper-slide">
                                <img class="img-order" src="~/Assets/img/showroom/chair-oder-4.png" />
                            </div>
                            <div class="swiper-slide">
                                <img class="img-order" src="~/Assets/img/showroom/chair-oder-5.png" />
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="chair-order-info">
                    <div class="p-list-color">
                        <div class="title-small">Màu sắc</div>
                        <a href="javascript:void(0)" class="color-item yellow active"></a>
                        <a href="javascript:void(0)" class="color-item grape"></a>
                        <a href="javascript:void(0)" class="color-item black"></a>
                        <a href="javascript:void(0)" class="color-item green"></a>
                    </div>
                    <div class="title-product-showroom">ghế nằm sáng chế 135</div>
                    <p>
                        Ghế nằm DOCTORLOAN 135 đầu ngửa, đôn liền là sáng chế thiết thực phục vụ cộng đồng trong việc chăm sóc và bảo vệ toàn diện sức khoẻ cột sống cho gia đình bạn.<br />
                        Ghế nằm sáng chế DOCTORLOAN 135 đầu ngửa, đôn liền được thiết kế đặc biệt với độ ngả 135˚, kết hợp với các đường cong lồi phía trước và lõm phía sau uốn theo cấu trúc cong tự nhiên của cột sống giúp giảm sâu áp lực trên cột sống, đĩa đệm, khung xương.
                    </p>
                    <div class="parameter-product">
                        <h5 class="prm-p-title">Kích thước sản phẩm</h5>
                        <div class="list-parameter">
                            <div class="parameter-item">
                                <img src="~/Assets/img/icon/ruler-icon.svg" />
                                <p><span>Size nhỏ cho người</span> <br /> <=1m7</p>
                            </div>
                            <div class="parameter-item">
                                <img src="~/Assets/img/icon/weight-icon.svg" />
                                <p><span>Cân nặng</span> <br /> >=40Kg</p>
                            </div>
                            <div class="parameter-item">
                                <img src="~/Assets/img/icon/ruler-icon.svg" />
                                <p><span>Size lớn cho người</span> <br /> >=1m7</p>
                            </div>
                            <div class="parameter-item">
                                <img src="~/Assets/img/icon/strong-icon.svg" />
                                <p><span>Khối lượng tối đa</span> <br /> 120Kg</p>
                            </div>
                        </div>
                    </div>
                    <div class="location-use">
                        <p>Những nơi/hoàn cảnh ứng dụng sử dụng sản phẩm</p>
                        <div class="list-location">
                            <div class="col-location">
                                <div class="location-item">
                                    <img src="~/Assets/img/icon/home.svg" />
                                    <span>Nhà ở</span>
                                </div>
                            </div>
                            <div class="col-location">
                                <div class="location-item">
                                    <img src="~/Assets/img/icon/office.svg" />
                                    <span>Văn phòng</span>
                                </div>
                            </div>
                            <div class="col-location">
                                <div class="location-item">
                                    <img src="~/Assets/img/icon/hospital.svg" />
                                    <span>Bệnh viện</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="chair-oder" id="ChairOrderLast">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-12 order-2 order-lg-1">
                <div class="chair-order-info">
                    <div class="title-product-showroom">đệm thiền sáng chế</div>
                    <p>
                        Đệm ngồi DOCTORLOAN được thiết kế “thấp trước cao sau” tạo nên chức năng “NÂNG ĐỠ - GIỮ CHUẨN – ĐIỀU CHỈNH” khung xương chậu và xương cùng trong tư thế ngồi khoanh chân.<br />
                        Đem lại hiệu quả BẢO VỆ CỘT SỐNG, NGĂN CHẶN BIẾN DẠNG xương chậu, xương cùng và cột sống của bạn khi thiền, tu tập và trong sinh hoạt hằng ngày ngay tại nhà.
                    </p>
                    <div class="p-list-size">
                        <div class="title-small">Size</div>
                        <a href="javascript:void(0)" class="size-item active">Lớn</a>
                        <a href="javascript:void(0)" class="size-item">Nhỏ</a>
                    </div>
                    <div class="parameter-product">
                        <h5 class="prm-p-title">Kích thước sản phẩm</h5>
                        <div class="list-parameter">
                            <div class="parameter-item">
                                <img src="~/Assets/img/icon/weight-icon.svg" />
                                <p><span>Cân nặng</span> <br /> >=90Kg</p>
                            </div>
                            <div class="parameter-item">
                                <img src="~/Assets/img/icon/strong-icon.svg" />
                                <p><span>Khối lượng tối đa</span> <br /> 150Kg</p>
                            </div>
                        </div>
                    </div>
                    <div class="location-use">
                        <p>Những nơi/hoàn cảnh ứng dụng sử dụng sản phẩm</p>
                        <div class="list-location">
                            <div class="col-location">
                                <div class="location-item">
                                    <img src="~/Assets/img/icon/home.svg" />
                                    <span>Nhà ở</span>
                                </div>
                            </div>
                            <div class="col-location">
                                <div class="location-item">
                                    <img src="~/Assets/img/icon/office.svg" />
                                    <span>Văn phòng</span>
                                </div>
                            </div>
                            <div class="col-location">
                                <div class="location-item">
                                    <img src="~/Assets/img/icon/hospital.svg" />
                                    <span>Bệnh viện</span>
                                </div>
                            </div>
                            <div class="col-location">
                                <div class="location-item">
                                    <img src="~/Assets/img/icon/yoga.svg" />
                                    <span>Phòng tập</span>
                                </div>
                            </div>
                            <div class="col-location">
                                <div class="location-item">
                                    <img src="~/Assets/img/icon/restaurant.svg" />
                                    <span>Nhà hàng</span>
                                </div>
                            </div>
                            <div class="col-location">
                                <div class="location-item">
                                    <img src="~/Assets/img/icon/temple.svg" />
                                    <span>Chùa</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-12 order-1 order-lg-2">
                <div class="chair-slide">
                    <div class="swiper swiperOrder">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="img-order" src="~/Assets/img/showroom/cushion-1.png" />
                            </div>
                            <div class="swiper-slide">
                                <img class="img-order" src="~/Assets/img/showroom/cushion-2.png" />
                            </div>
                            <div class="swiper-slide">
                                <img class="img-order" src="~/Assets/img/showroom/cushion-4.png" />
                            </div>
                            <div class="swiper-slide">
                                <img class="img-order" src="~/Assets/img/showroom/cushion-3.png" />
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nav-menu-container ul li").removeClass("menu-active");
            $("#nav-menu-container ul li").eq(3).addClass("menu-active");
        });

        var bannerswiper = new Swiper(".showRoomSwiper", {
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            },
        });

        var swiper = new Swiper(".productSwiper", {
            direction: 'horizontal',
            slidesPerView: 2,
            spaceBetween: 15,
            grabCursor: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                768: {
                    direction: 'horizontal',
                    slidesPerView: 3,
                    spaceBetween: 15,
                },
                992: {
                    direction: 'vertical',
                    slidesPerView: 4,
                    spaceBetween: 20,
                }
            },
        });

        var swiper4 = new Swiper(".productSwiper3", {
            direction: 'horizontal',
            slidesPerView: 2,
            spaceBetween: 15,
            grabCursor: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                768: {
                    direction: 'horizontal',
                    slidesPerView: 3,
                    spaceBetween: 15,
                },
                992: {
                    direction: 'vertical',
                    slidesPerView: 3,
                    spaceBetween: 20,
                }
            },
        });

        var swiper2 = new Swiper(".productChairSwiper", {
            direction: 'horizontal',
            slidesPerView: 2,
            spaceBetween: 15,
            grabCursor: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                768: {
                    direction: 'horizontal',
                    slidesPerView: 3,
                    spaceBetween: 15,
                },
                992: {
                    direction: 'vertical',
                    slidesPerView: 4,
                    spaceBetween: 20,
                }
            },
        });

        var swiper3 = new Swiper(".swiperOrder", {
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 2,
            initialSlide: 1,
            spaceBetween: 100,
            effect: 'coverflow',
            keyboard: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 100,
                modifier: 2,
                slideShadows: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            },
        });

        $(document).on('click', '.change-image', function () {
            var getdataimg = $(this).attr("data-image");
            var getdatagroup = $(this).attr("data-group");
            var getdatatitle = $(this).attr("data-title");
            $("." + getdatagroup).find(".img-product-main").attr('src', 'Assets/img/showroom/' + getdataimg);
            $("." + getdatagroup).find(".title-product-showroom").text(getdatatitle);
        });
    </script>
}