
<div class="container">
    <div class="title-drloan"><span>Trải nghiệm của khách hàng</span></div>
    <div id="ExperienceSwiper" class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="~/Assets/img/home/dang-duc-ngan.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Giám Mục Lạng Sơn<br /> Cha Đặng Đức Ngân</div>
                    <hr />
                    <div class="experience-desc">Cha Đặng Đức Ngân - Giám Mục Lạng Sơn: Thật vui khi viết lời tâm sự lại bắt đầu ngày mới ngày 20/10, là ngày phụ nữ Viêt Nam. Qua Cha Trọng tại trung tâm mục vụ Sài Gòn, mà tôi được biết và giới thiệu đến bác sĩ và phòng khám.</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/pham-van-trong.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Linh Mục <br /> Giuse Phạm Văn Trọng</div>
                    <hr />
                    <div class="experience-desc">Linh Mục - Giuse Phạm Văn Trọng: Có lẽ không quá khi nói căn bệnh rối loạn tiền đình và đau nhức khó khăn trong đi đứng đã làm cho tôi bị suy sup sức khỏe rất nhiều. Sự suy sụp sức khỏe có lẽ vì tôi không biết nguyên nhân của chúng</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/nguyen-thi-do.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Bà Nguyễn Thị Độ <br /> 66 tuổi</div>
                    <hr />
                    <div class="experience-desc">Tôi tên: Nguyễn Thị Độ, 66 tuổi. Tôi bị thoái háo cột sống cổ, lưng, đầu gối đã gần 5 năm. Từ đó đến nay tôi điều trị nhiều nơi, nhiều thầy, từ tây y đến đông y, ai chỉ đâu đi đó, tốn tiền nhiều, nhưng bệnh không khỏi, người cứ đau nhức triền miên.</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/hoang-kim-dan.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Sister M.JB<br /> Hoàng Kim Dâng</div>
                    <hr />
                    <div class="experience-desc">Em: Sister M.JB. Hoàng Kim Dâng - Kính thư bác sĩ Phạm Thị Kim Loan. Lời em muốn nói trên đây là tấm lòng cảm ơn bác sĩ rất nhiều. Trước tình bệnh trước khi điều trị, tê nửa người, đau 2 đầu gối nặng, khó thở. Sau thời gian điều trị với thể xác khỏe mạnh thì tinh thần cũng tốt.</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/tang-ngoc-diep.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Nữ tu <br /> Tăng Ngọc Điệp</div>
                    <hr />
                    <div class="experience-desc">Nữ tu Tăng Ngọc Điệp. Sau chỉ gần hai tháng được điều trị tại phòng khám, tôi đã được chữa khỏi thoát vị đĩa đệm cột sống lưng và đồng thời cột sống lưng cũng đã được nắn thẳng lại. Bác sĩ đã thấy được niềm vui sướng tỏ hiện trên nét mặt tôi.</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/cong-the-phong.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Công Thế Phong <br /> Bệnh nhân</div>
                    <hr />
                    <div class="experience-desc">BN Công Thế Phong. là bệnh nhân đến khám tại phòng khám của quí vị, tôi được bác sĩ chuẩn đoán thoát vị đĩa đệm cột sống cổ C5+6. Trước khi đến chữa trị cổ và tay tôi tê buốt, nhắc lên không nổi nhưng sau khi chữa trị hiện giờ bệnh khỏi hẳn</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/thanh-lieu.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Thanh Liễu <br /> Bệnh nhân</div>
                    <hr />
                    <div class="experience-desc">BN Thanh Liễu - nữ đan sĩ đan viện Xitô Thánh Mẫu Phước Thiên, Bà Rịa - Vũng Tàu. Sau tai nạn giao thông, em bị tê buốt và đau nhức cánh tay phải dữ dội. Sau 3 tháng điều trị nhiều nơi đủ cách, phần thuyên giảm rất ít. Nên em hơi buồn và xin ơn “vui nhận bệnh tật” trong tin yêu</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/ding-quang-thanh.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Linh Mục <br /> Đinh Quang Thành</div>
                    <hr />
                    <div class="experience-desc">Linh Mục Đinh Quang Thành - phó xứ chánh tòa Long Xuyên. Cách đây hai tháng tôi bị đau nhức cổ và tay phải. Bác Sĩ Tăng Thái Nam Anh ĐHXD chuẩn đoán tôi viêm gân cơ xoay vai và cho thuốc điều trị. Tôi uống thuốc chỉ giảm đau mà không hết bệnh</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/chu-hao.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Chu Hảo <br /> Bệnh Nhân</div>
                    <hr />
                    <div class="experience-desc">BN Chu Hảo - Tôi xin chân thành cảm ơn bác sĩ. Loan và toàn thể nahan viên phòng khám Đức Phúc vì hiệu quả rất cao của đợt điều trị cột sống cho tôi, và vì thái độ nhiệt tình, chu đáo và thân ái của mỗi người</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <img src="~/Assets/img/home/dang-dinh-tien.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Đặng Đình Tiến <br /> Bệnh Nhân</div>
                    <hr />
                    <div class="experience-desc">BN Đặng Đình Tiến - Đã trên 15 năm nay, theo cách nói dân dã tôi bị bệnh viêm khớp chân và tay, tôi đã khám và điều trị tại các bệnh viện Tp HCM, kể cả bệnh viện chấn thương chỉnh hình. Tôi cũng đến khám tại các phòng khám…</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/tran-nghiem-vinh-thanh.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Trần Nghiêm Vĩnh Thành <br /> Bệnh Nhân</div>
                    <hr />
                    <div class="experience-desc">BN Trần Nghiêm Vĩnh Thành - Từ nữa vòng trái đát như 1 nhân duyên giữa bác sĩ và bệnh nhân. Lần đầu tiên tiếp xúc với Bs.Loan, tôi có 1 sự tin tưởng vào cách trình bày và giải thích bệnh lý đến với bệnh nhân</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/tran-thi-hang.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Trần Thị Hằng <br /> Bệnh Nhân</div>
                    <hr />
                    <div class="experience-desc">BN Trần Thị Hằng - Tôi bị teo cơ chân trái từ khi tôi 12 tháng tuổi do sự cố chích trúng gân, năm nay tôi 52 tuổi. Từ nhỏ cho tới lớn tôi vẫn phải mang tật, khi lớn lên do trọng lượng cơ thể không cân đối, tôi bị nghiêng về phía chân trái</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/benh-nhan-nguoi-thai.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Bệnh Nhân Người Thái Lan</div>
                    <hr />
                    <div class="experience-desc"></div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/linh-muc-tran-van-toan.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Trần Văn Toản <br /> Linh mục</div>
                    <hr />
                    <div class="experience-desc">Linh mục Trần Văn Toản - Được giới thiệu Bác Sĩ Kim Loan, để chữa trị thoát vị đĩa đemh cột sống cổ và lưng, tôi co0i đay là duyên may của định mệnhvà là ân huệ từ Ơn Trên dành cho tôi</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/linh-muc-michael-yathu.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Michael YaThu <br /> Linh mục</div>
                    <hr />
                    <div class="experience-desc">Linh mục Michael YaThu - Dựa trên film chụp X-Quang và MRI bác sĩ cho xem, tôi thấy có sự nguy hiểm đến não bộ vì các đốt sống cổ bị lệch. Tôi rất sợ, nhưng bác sĩ khuyên an tâm, cứ hợp tác với bác sĩ trong thời gian nắn lại xương mọi sự sẽ tốt, sẽ ổn</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/linh-muc-tran-dang-tuan.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Trần Đăng Tuấn <br /> Linh mục</div>
                    <hr />
                    <div class="experience-desc">Linh mục Trần Đăng Tuấn - Ngày 15.06 tôi thấy vai, lưng mình đau, cơn đau mỗi lúc một dày hơn. Chụp MRI - kết quả thoát vị đĩa đệm L4 và 5. Tôi nghĩ thế là “finish”. Một sự chấm hết quá bất ngờ và tôi không chấp nhận. Người ta nói tuổi 40 là tuổi của thành công trong sự nghiệp con người</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/ho-dat.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Hồ Đắt <br /> Bệnh Nhân</div>
                    <hr />
                    <div class="experience-desc">BN Hồ Đắt - Đầu năm 2011, tôi thường tập đi bộ vào buổi chiều từ 45 phút đến 60 phút. Cảm giác tê mỏi ở 2 đầu gối và 2 cổ cahan, thỉnh thoảng có mỏi nhẹ ở thắt lưng. Giấc ngủ về đêm không thẳng giấc như thời trung niên</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/nguyen-truong-thi-tuan-anh.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Nguyễn Trương Thị Tuấn Anh <br /> Bệnh Nhân</div>
                    <hr />
                    <div class="experience-desc">BN Nguyễn Trương Thị Tuấn Anh - Không, mình không bao giờ muốn say goodbye nơi đây: Phòng khám Đức Phúc, mạc dù bác sĩ Loan đã xem phim x-quang của mình sau 10 ngày điều trị và tươi cười</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/nguyen-minh-phan.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Nguyễn Minh Phan <br /> Bệnh Nhân</div>
                    <hr />
                    <div class="experience-desc">BN Nguyễn Minh Phan - Qua 4 ngày vật lí trị liệu tôi đã cảm nghiệm một cái gì mới lạ trong phương pháp trị liệu mà trên thế giới chưa nghĩ đến. Sau 4 ngày trị liệu cột sống cổ của tôi bình phục 70%</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/nguyen-thien-phuc.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Nguyễn Thiên Phúc <br /> Bệnh Nhân</div>
                    <hr />
                    <div class="experience-desc">BN Nguyễn Thiên Phúc - Tôi đã có niềm vui hạnh phúc và sức khỏe nhờ vao phương pháp điều trị tuyệt vời và bàn tay kỳ diệu của Doctor loan</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/nguyen-thi-hai.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Nguyễn Thị Hai <br /> Bệnh Nhân</div>
                    <hr />
                    <div class="experience-desc">BN Nguyễn Thị Hai - Thấy bệnh của tôi khỏe rất nhiều tôi rất cảm ơn bác sĩ Loan đã tận tình chữa trị và các em cũng tận tình giúp đỡ tôi trong 10 ngày qua</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Assets/img/home/dinh-thi-nga.jpg" />
                <div class="content-experience">
                    <div class="experience-name">Đinh Thị Nga <br /> BệnhNhân</div>
                    <hr />
                    <div class="experience-desc">BN Đinh Thị Nga - Tôi bị bệnh cột sống nặng đã qua 2 lần mổ cột sống cổ. Sau 10 ngày qua đi quá nhanh trong sự tận tình chữa bệnh và chăm sóc tận tình của bác sĩ Loan và toàn thể cán bộ nhân viên của trung tâm</div>
                    <div class="experience-action">
                        <a href="javascript:void(0)" class="btn btn-dtl">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>