
@{
    ViewBag.Title = "NewsDetail";
}

<section id="NewsDetail">
    <div class="container">
        <div class="news-content-detail">
            @*<div class="tag-name">Tag name</div>*@
            <div class="news-title">Khởi nguồn từ chữa bệnh</div>
            <div class="meta-desc">Cột sống đóng vai trò vô cùng quan trọng trong đời sống con người. Nó không chỉ là khung xương cho cơ thể mà còn chịu trách nhiệm giữ cho cơ thể thẳng đứng và cung cấp sự ổn định và hỗ trợ cho các hoạt động hàng ngày. </div>
            <div class="action-link">
                <div class="date-auth">
                    <strong>Tác giả: Phạm Thị Kim Loan</strong>
                    <span>30/06/2023</span>
                </div>
                <div class="link-view">
                    <div class="social-icon">
                        <a href="javascript:void(0)"><img src="~/Assets/img/icon/icon-facebook.svg" /></a>
                        <a href="javascript:void(0)"><img src="~/Assets/img/icon/icon-twitter.svg" /></a>
                    </div>
                    <div class="detail-icon">
                        <a href="javascript:void(0)"><img src="~/Assets/img/icon/icon-chat.svg" /> 12</a>
                        <a href="javascript:void(0)"><img src="~/Assets/img/icon/icon-eye-empty.svg" /> 459</a>
                    </div>
                </div>
            </div>

            <div class="news-content-wrapper">
                <figure>
                    <img src="~/Assets/img/news/news-detail.jpg" />
                    <figcaption>DOCTORLOAN những ngày đầu tiên trong quá trình hiện thực hóa ý tưởng của mình</figcaption>
                </figure>
                <h5>Vai trò quan trọng của cột sống</h5>
                <p>Cột sống đóng vai trò vô cùng quan trọng trong đời sống con người. Nó không chỉ là khung xương cho cơ thể mà còn chịu trách nhiệm giữ cho cơ thể thẳng đứng và cung cấp sự ổn định và hỗ trợ cho các hoạt động hàng ngày. </p>
                <p>Vai trò chính của cột sống bao gồm:</p>
                <p>1.Hỗ trợ cơ thể: Cột sống giữ vai trò chính trong việc hỗ trợ và chịu đựng trọng lượng của cơ thể. Nó giúp cân bằng và phân phối áp lực từ các hoạt động hàng ngày như đi lại, đứng lâu, ngồi và nâng vật nặng.</p>
                <p>2. Bảo vệ tủy sống: Cột sống bao quanh và bảo vệ tủy sống, một phần quan trọng của hệ thần kinh trung ương. Tủy sống truyền tải các tín hiệu điện tử từ não đến các phần khác của cơ thể và ngược lại. Việc bảo vệ tủy sống giúp đảm bảo sự truyền thông hiệu quả giữa não và các phần khác của cơ thể.</p>
                <p>3. Linh hoạt và chuyển động: Cột sống cũng cho phép chúng ta thực hiện các chuyển động linh hoạt như cúi xuống, vặn người và cong lưng. Các khớp và đĩa đệm giữa các đốt sống cho phép chúng ta di chuyển và tham gia vào các hoạt động vận động.</p>
                <p>4. Hình thành khung xương cho cơ thể: Cột sống là khung xương chính của cơ thể con người. Nó cung cấp cấu trúc và hình dạng cho cơ thể và tạo nên khuôn khổ cho các cơ quan nội tạng khác nhau.</p>
                <p>5. Tạo điều kiện cho hoạt động hàng ngày: Cột sống cho phép chúng ta thực hiện các hoạt động hàng ngày như đi lại, ngồi, đứng và nâng vật nặng. Sự ổn định và linh hoạt của cột sống đóng vai trò quan trọng trong việc thực hiện các hoạt động này một cách hiệu quả.</p>
                <p>Tóm lại, cột sống không chỉ là một khung xương quan trọng của cơ thể, mà còn đóng vai trò chủ chốt trong sự hỗ trợ, bảo vệ tủy sống, linh hoạt và chuyển động.</p>
                <h5>Quy trình tiên tiến chăm sóc sức khỏe cho cột sống</h5>
                <p>Một bác sĩ đã trải qua một cuộc hành trình sáng tạo từ quá trình chữa bệnh và nghiên cứu về cột sống con người đã sáng chế các qui trình sử dụng công nghệ mới và sản phẩm đột phá để chữa và ngăn ngừa bệnh cột sống. Bà đã xây dựng một hệ thống tập trung vào việc bảo vệ cột sống con người, bao gồm nhà máy sản xuất các sản phẩm công nghệ mới, Trung tâm nghiên cứu bệnh cột sống và đem sản phẩm đến thị trường để đáp ứng mọi nhu cầu chăm sóc cột sống của con người.</p>
                <p>Cuộc hành trình đầy thử thách của Bác sĩ bắt đầu khi bà nhận thấy những khó khăn và hạn chế trong việc chữa lành bệnh cột sống hiện nay trên Toàn cầu. Bà đã quyết tâm tìm kiến giải pháp sáng tạo để cải thiện tình hình này. Đầu tiên, bà đã dành thời gian nghiên cứu nắm vững kiến thức Thần kinh học, Giải phẫu và sinh lý bệnh-nguyên nhân phát sinh bệnh cột sống, Y học thể thao, các phương pháp điều trị bệnh cột sống trên Thế giới hiện nay, bà đã tiếp cận các nghiên cứu mới nhất về công thái học các vật dụng hàng ngày như ghế ngồi, gối nằm ngủ, đệm thiền,… tác động thường xuyên suốt cuộc đời lên mọi tuổi mọi giới tính. Từ kiến thức và kỹ năng chuyên môn tích luỹ được trải qua cuộc hành trình dài của một bác sĩ chuyên Hồi sức cấp cứu được đào tạo trong nước và nước ngoài, Bà đã dẫn dắt một nhóm nghiên cứu & phát triển tham gia vào cuộc hành trình khám phá sâu hơn về các bí ẩn của các ảnh hưởng từ hoạt động và tác động suốt đời từ hành vi, thói quen, vật dụng sử dụng hàng ngày trên cột sống con người. Bà đã tạo ra các qui trình và sản phẩm sáng chế mới, cống hiến cho nền y khoa hiện đại trong cách đưa ra giải pháp bảo vệ SỨC KHOẺ CỘT SỐNG MỌI CON NGƯỜI. Họ đã sử dụng qui trình và công nghệ tiến tiến này ứng dụng vào đời sống của những người bệnh cột sống và những người không có triệu chứng bệnh cột sống, tạo ra các kết quả ngoài sức tưởng tượng với dữ liệu lớn.</p>
                <p><strong>DOCTORLOAN</strong> bao gồm một loạt các sản phẩm và qui trình tiên tiến hàng đầu cung cấp chăm sóc toàn diện cho <strong>SỨC KHOẺ CỘT SỐNG</strong>. Dưới đây là một số điểm nổi bật về <strong>DOCTORLOAN</strong>:</p>
                <p><b>1. ĐÁNH GIÁ VÀ CHẨN ĐOÁN THÔNG QUA CÔNG NGHỆ TIÊN TIẾN:</b> <strong>DOCTORLOAN</strong> sử dụng công nghệ hàng đầu trong việc đánh giá và chẩn đoán các vấn đề về cột sống. Các công cụ hình ảnh tiến tiến như chụp xquang, MRI được tích hợp để đưa ra đánh giá chính xác về tình trạng cột sống của bệnh nhân.</p>
                <p><b>2. SẢN PHẨM SÁNG CHẾ DỰA TRÊN CÔNG NGHỆ ĐỘT PHÁ:</b> <strong>DOCTORLOAN</strong> đã phát triển một loạt các sản phẩm sáng chế nhằm cải thiện chữa bệnh và phòng bệnh cột sống. Bao gồm các công nghệ mới trong điều chỉnh cấu trúc từng đốt xương sống và đĩa đệm cũng như tổng thể khung xương một cách đồng bộ, từ đó cấu trúc bệnh lý được sắp xếp lại theo trật tự phải có về tổ chức xương lý tưởng. Sản phẩm sáng chế DOCTORLOAN được tạo ra để cung cấp cho mọi con người khả năng ngăn chặn các yếu tố nguy cơ tác động liên tục hàng ngày trên xương chậu, xương sống. Các yếu tố tác động liên tục trên xương sống và khung xương sẽ dẫn đến bệnh lý cột sống, vì vậy muốn chữa lành và ngăn tái phát, ngăn tiến triển bệnh cột sống cần phải giải quyết bằng được các yếu tố này. Sản phẩm DOCTORLOAN đã được cấp bằng độc quyền sáng chế trên 60 Quốc gia Toàn cầu đem laị khả năng kiểm soát bệnh lý cột sống như giảm ngay triệu chứng đau nhức và các vấn đề liên quan bệnh cột sống, đồng thời tác dụng lâu dài do sử dụng như một vật dụng thông thường hàng ngày, cho mọi lứa tuổi, mọi thành phần xã hội.</p>
                <p><b>3. GIAO DỊCH TỪ XA VÀ QUẢN LÝ BỆNH NHÂN:</b> <strong>DOCTORLOAN</strong> tận dụng tiềm năng của công nghệ thông tin và truyền thông để cung cấp chăm sóc từ xa cho bệnh nhân. Bằng cách sử dụng ứng dụng di động và nền tảng trực tuyến, bệnh nhânn có thể tiếp cận các dịch vụ chăm sóc và được tư vấn bởi các chuyên gia từ xa.</p>
                <p><b>4. ĐÀO TẠO VÀ GIÁO DỤC:</b> <strong>DOCTORLOAN</strong> cũng cung cấp các khoá đào tạo và giáo dục cho mọi người dân về những biện pháp đơn giản hiệu quả nhằm giải quyết ngay các vấn đề liên quan cột sống và duy trì hiệu quả lâu dài, cũng như nâng cao hiểu biết về cách chăm sóc và phòng ngừa bệnh cột sống cho lứa tuổi từ sơ sinh đến người già cao tuổi.</p>
                <p><b>5. MANG LƯỚI CÔNG ĐỒNG VÀ HỖ TRỢ:</b> <strong>DOCTORLOAN</strong> xây dựng một mạng lưới cộng đồng mang lại các kiến thức đơn giản, dễ thực hiện nhưng hiệu quả đột phá về Chăm sóc <strong>SỨC KHOẺ CỘT SỐNG</strong> cho mọi người. các thành. Viên trong mạng lưới này cung cấp hỗ trợ và tư vấn, chia sẻ kiến thức, kinh nghiêm để người dân có thể tự chăm sóc <strong>SỨC KHOẺ CỘT SỐNG</strong> cho mình và gia đình.</p>
                <p><strong>DOCTORLOAN</strong> mang đến một khởi nguồn mới trong việc chăm sóc và phòng ngừa bệnh cột sống bằng cách sử dụng công nghệ tiên tiến và sản phẩm sáng chế, cung cấp khả năng ngăn chặn bệnh cột sống cho mọi người, mọi lúc, mọi nơi. Điều này giúp công đồng có được một phương án giải quyết triệt để bệnh cột ngay từ khi mới bắt đầu hoặc đã diễn tiến lâu dài.</p>
            </div>

            <div class="interdepend-slide">
                <h4>Các Di Sản khác</h4>
                <div class="swiper interdependSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="interdepend-desc">
                                <img src="~/Assets/img/home/di-san-2.jpg" />
                                <div class="interdepend-info">
                                    <h5><a href="javascript:void(0)">Sở hữu trí tuệ</a></h5>
                                    <p>Có một xu hướng mới đang xuất hiện trong lĩnh vựa chăm sóc và phòng ngừa bệnh cột sống, đó là giải pháp DOCTORLOAN- Giải pháp Chăm sóc Cột sống với sản phẩm công nghệ sáng chế đột phá-an toàn-hiệu quả.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="interdepend-desc">
                                <img src="~/Assets/img/home/di-san-1.jpg" />
                                <div class="interdepend-info">
                                    <h5><a href="javascript:void(0)">Khởi nguồn từ chữa bệnh</a></h5>
                                    <p>Cột sống đóng vai trò vô cùng quan trọng trong đời sống con người. Nó không chỉ là khung xương cho cơ thể mà còn chịu trách nhiệm giữ cho cơ thể thẳng đứng và cung cấp sự ổn định và hỗ trợ cho các hoạt động hàng ngày.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="interdepend-desc">
                                <img src="~/Assets/img/home/di-san-3.jpg" />
                                <div class="interdepend-info">
                                    <h5><a href="javascript:void(0)">Sản xuất và thương mại</a></h5>
                                    <p>Sản phẩm DOCTORLOAN đạt 5 Thương hiệu Quốc gia đã chứng minh và được công nhận là những sáng chế thiết thực phục vụ đời sống con người không những ở Việt Nam mà cho tất cả mọi người trên thế giới. Sản phẩm DOCTORLOAN chính là cuộc cách mạng trong chăm sóc cột sống cộng đồng của Y Khoa hiện đại.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="interdepend-desc">
                                <img src="~/Assets/img/home/di-san-2.jpg" />
                                <div class="interdepend-info">
                                    <h5><a href="javascript:void(0)">Sở hữu trí tuệ</a></h5>
                                    <p>Có một xu hướng mới đang xuất hiện trong lĩnh vựa chăm sóc và phòng ngừa bệnh cột sống, đó là giải pháp DOCTORLOAN- Giải pháp Chăm sóc Cột sống với sản phẩm công nghệ sáng chế đột phá-an toàn-hiệu quả.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="interdepend-desc">
                                <img src="~/Assets/img/home/di-san-1.jpg" />
                                <div class="interdepend-info">
                                    <h5><a href="javascript:void(0)">Khởi nguồn từ chữa bệnh</a></h5>
                                    <p>Cột sống đóng vai trò vô cùng quan trọng trong đời sống con người. Nó không chỉ là khung xương cho cơ thể mà còn chịu trách nhiệm giữ cho cơ thể thẳng đứng và cung cấp sự ổn định và hỗ trợ cho các hoạt động hàng ngày.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="interdepend-desc">
                                <img src="~/Assets/img/home/di-san-3.jpg" />
                                <div class="interdepend-info">
                                    <h5><a href="javascript:void(0)">Sản xuất và thương mại</a></h5>
                                    <p>Sản phẩm DOCTORLOAN đạt 5 Thương hiệu Quốc gia đã chứng minh và được công nhận là những sáng chế thiết thực phục vụ đời sống con người không những ở Việt Nam mà cho tất cả mọi người trên thế giới. Sản phẩm DOCTORLOAN chính là cuộc cách mạng trong chăm sóc cột sống cộng đồng của Y Khoa hiện đại.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nav-menu-container ul li").removeClass("menu-active");
            $("#nav-menu-container ul li").eq(5).addClass("menu-active");
        });

        var swiper = new Swiper(".interdependSwiper", {
            direction: 'horizontal',
            slidesPerView: 2,
            spaceBetween: 15,
            grabCursor: true,
            loop: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                768: {
                    slidesPerView: 3,
                    spaceBetween: 20,
                }
            },
        });
    </script>
}